Paste the commands below into your CLI to remain in this profile/region:
------------------------------------------------------------------------
export AWS_DEFAULT_PROFILE="{{ .AWSProfile }}"
export AWS_REGION="{{ .AWSRegion }}"
export KUBECONFIG="{{ .KubeconfigPath }}"
{{ if ne .Proxy "" }}export http_proxy="{{ .Proxy }}"{{end}}
